@import '../../../assets/sass/variables.scss';

:global {
  :local(.footer) {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    font-size: small;
    background: $secondary;
    color: white;

    .footerLink {
      color: $primaryLight;

      &:hover {
        color: $primary;
      }
    }

    .copyright {
      margin-bottom: 0.75rem;
    }
  }
}
