@import '../../../assets/sass/variables.scss';

:global {
  :local(.productListItem) {
    .itemLabel {
      display: block;
      margin-bottom: 0.25rem;
      font-weight: 600;
    }

    .itemDetails {
      padding: 0.5rem 0;

      .itemPrice {
        font-weight: 500;
      }

      .itemWeight {
        font-size: 0.8rem;
      }
    }

    @media screen and (min-width: $screenMd) {
      .itemLabel {
        margin-bottom: 0.5rem;
      }

      .itemDetails {
        padding: 0.75rem 0;

        .itemWeight {
          font-size: 0.875rem;
        }
      }
    }
  }
}
