@import '../../assets/sass/variables';

:global {
  :local(.cartPage) {
    .cartItem {
      display: flex;
      align-items: center;
      font-size: 1rem;
      border-bottom: $dashedBorder;
      padding: 0.75rem 0;

      &:first-child {
        border-top: $dashedBorder;
      }

      .itemImage {
        height: 3rem;
        margin-right: 0.75rem;
        width: 3rem;
      }

      .flexGroup {
        max-width: calc(100% - 12rem);
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      .itemName {
        align-self: start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .itemWeight {
        font-size: 0.875em;
      }

      .itemSubActions {
        display: inline-flex;
        align-self: start;
        flex-direction: column;

        .clearItem,
        .saveItem {
          font-size: 0.875em;
          align-self: start;
          display: inline-flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            color: $primary;
          }
        }

        .linkIcon {
          display: none;
          width: 1.25em;
          margin-right: 0.25em;
          height: 1.25em;
        }
      }

      .itemQty {
        width: 3rem;
        text-align: center;
      }

      .itemPrice {
        width: 5rem;
        white-space: nowrap;
        text-align: right;
      }
    }

    .cartSubtotal {
      padding: 1rem 0 1.25rem;
      font-size: 1rem;

      .subtotalValue {
        font-weight: 600;
      }
    }

    @media screen and (min-width: $screenSm) {
      .cartItem {
        .itemSubActions {
          flex-direction: row;
          margin: -0.25rem -0.4rem;

          .saveItem,
          .clearItem {
            padding: 0.25rem 0.4rem;
          }

          .linkIcon {
            display: initial;
          }
        }
      }
    }

    @media screen and (min-width: $screenMd) {
      .cartItem {
        justify-content: space-around;

        .itemImage {
          height: 4.5rem;
          margin: 0.5rem 1.5rem 0.5rem 0.75rem;
          width: 4.5rem;
        }

        .itemQty {
          width: 5rem;
        }

        .itemPrice {
          width: 7.5rem;
        }
      }

      .cartSubtotal {
        padding: 1.5rem 0;
      }
    }
  }
}
